<!DOCTYPE html>
<html>

<head>
    <title>Parla Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="homeColor">
    <h1 class="homeHeader"><i>Parla.chat</i></h1>
    <p class="intro">Welcome to Parla.chat, an intuitive chatbot designed to revolutionize the way you learn languages,
        starting with the beautiful Italian. Parla.chat combines cutting-edge natural language processing with
        user-friendly interactions to offer a personalized and effective language learning experience directly from your
        chat window.</p>
    <p class="intro">Why Parla.chat?<br>Parla.chat is not just another language learning tool; it's a smart,
        conversational companion that makes learning Italian as easy as chatting with a friend. Whether you're planning
        a trip to Italy, looking to expand your linguistic skills, or simply exploring a new hobby, Parla.chat provides
        a seamless, engaging way to absorb the language.<br><br></p>
    <div class="button1-container">
        <form action="/new-page">
            <button type="submit" class="button1-style">parla</button>
        </form>
    </div>
</body>

</html>